accelerate==1.4.0
aianalyzer @ file:///C:/Program%20Files/RyzenAI/1.3.1/aianalyzer-1.3.1-py3-none-any.whl#sha256=8d14acad5456a872d139f7c77d172e5808a7eb48ebe68009e89fdd1f76353849
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1733311059102/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1725356679565/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1733584297267/work
async-timeout==5.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1738740337718/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1737382993/work
blinker==1.9.0
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///D:/bld/cffi_1725560649097/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click==8.1.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
colorlog==6.9.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy==1.3.1
cycler==0.12.1
dacite==1.9.2
datasets==3.3.2
debugpy @ file:///D:/bld/debugpy_1737269757879/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill==0.3.8
distro==1.9.0
evaluate==0.4.3
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastapi==0.115.11
fasteners==0.19
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
filelock==3.17.0
fire==0.7.0
Flask==3.1.0
flatbuffers==25.2.10
flexmlrt @ file:///C:/Program%20Files/RyzenAI/1.3.1/flexmlrt-1.3.1-py3-none-any.whl#sha256=99f3edc53a2a96a7120129d29eec46fa4991196411516952cf3c293e8e78f43b
fonttools==4.56.0
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hiredis==3.1.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httptools==0.6.4
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
huggingface-hub==0.29.1
human-eval-windows==1.0.4
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
intel-openmp==2021.4.0
invoke==2.2.0
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1738421304/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
jiter==0.8.2
joblib==1.4.2
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1733272076743/work
jsonpointer @ file:///D:/bld/jsonpointer_1725302958210/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_events_1738765986/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1733492907176/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///D:/bld/jupyter_core_1727163532151/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1734702637701/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1738184697351/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1733599573484/work
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe @ file:///D:/bld/markupsafe_1733219610373/work
matplotlib==3.10.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
microkernel-tiling @ file:///C:/Program%20Files/RyzenAI/1.3.1/microkernel_tiling-1.3.1-py310-none-win_amd64.whl#sha256=4008bc64c0b8e09b3f4f206cb997bfbe3dd09f1c42c54db73f89a64801445f15
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1739952201733/work
mkl==2021.4.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1734628800805/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1738067871/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.4.2
ninja==1.11.1.3
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numpy==1.26.4
onnx==1.16.1
onnxconverter-common==1.14.0
onnxmltools==1.10.0
onnxruntime-directml==1.20.1
onnxruntime-genai-directml @ file:///C:/Users/aup/.conda/envs/HackCUFTW/lib/install/ryzen_ai/hybrid/hybrid-llm-artifacts_1.3.0_lounge/hybrid-llm-artifacts/onnxruntime_genai/wheel/onnxruntime_genai_directml-0.4.0.dev0-cp310-cp310-win_amd64.whl#sha256=e3d79b07fd7192f6e67efc5776d0ef5b167636ee5070702c957fabc1caf7024b
onnxruntime-vitisai @ file:///C:/Users/aup/.conda/envs/HackCUFTW/lib/install/ryzen_ai/hybrid/hybrid-llm-artifacts_1.3.0_lounge/hybrid-llm-artifacts/onnxruntime_genai/wheel/onnxruntime_vitisai-1.19.0.dev20241217-cp310-cp310-win_amd64.whl#sha256=12513a3c1ac306cc8d0180b32c074bc68ba711ced2e2bd8880cfcea6fe85c4ac
onnxruntime_extensions==0.13.0
onnxsim==0.4.36
openai==1.65.2
opencv-python==4.11.0.86
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.2.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.1.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733327310477/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
propcache==0.3.0
protobuf==3.20.2
psutil @ file:///D:/bld/psutil_1735327343637/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py-cpuinfo==9.0.0
pyarrow==19.0.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.10.6
pydantic_core==2.27.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyparsing==3.2.1
pyreadline3==3.5.4
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv==1.0.1
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1738317518727/work
pywin32==307
pywinpty @ file:///D:/bld/pywinpty_1738660399284/work/target/wheels/pywinpty-2.0.15-cp310-none-win_amd64.whl#sha256=20770c471b992d7982b1e2167b027aeae834dde40ca15499987acf89f52da318
PyYAML @ file:///D:/bld/pyyaml_1737454681229/work
pyzmq @ file:///D:/bld/pyzmq_1738270977186/work
quark @ file:///C:/Program%20Files/RyzenAI/1.3.1/quark-0.6.0-py3-none-any.whl#sha256=da3b4a20ce3b760bbaaad0832b466409f255aca6010696722357a263ad6429bc
redis==5.2.1
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex==2024.11.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich==13.9.4
rpds-py @ file:///D:/bld/bld/rattler-build_rpds-py_1740153103/work
ryzen-ai-rt @ file:///C:/Program%20Files/RyzenAI/1.3.1/ryzen_ai_rt-1.3.1-py3-none-any.whl#sha256=60ddf17ddd2c38c5c546cdc1366ee4e0fa62ac6c3d070869f8532fbde02ce773
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Send2Trash @ file:///D:/bld/send2trash_1733322089150/work
sentencepiece==0.2.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
skl2onnx==1.18.0
smmap==5.0.2
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.46.0
sympy==1.13.3
tabulate==0.9.0
tbb==2021.13.1
termcolor==2.5.0
terminado @ file:///D:/bld/terminado_1710262761616/work
threadpoolctl==3.5.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
# tokenizers==0.21.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
torch @ file:///C:/Program%20Files/RyzenAI/1.3.1/torch-2.3.1%2Bcpu-cp310-cp310-win_amd64.whl#sha256=500bf790afc2fd374a15d06213242e517afccc50a46ea5955d321a9a68003335
torchvision @ file:///C:/Program%20Files/RyzenAI/1.3.1/torchvision-0.18.1%2Bcpu-cp310-cp310-win_amd64.whl#sha256=eb7375cc96c53d2ffd98be5906f2e4cd7e304c88fd3406d334d5b7ae91511665
tornado @ file:///D:/bld/tornado_1732615925919/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.49.0
turnkeyml==6.0.0
typeguard==4.4.2
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1733612335562/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata==2025.1
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
uvicorn==0.34.0
vai-q-onnx @ file:///C:/Program%20Files/RyzenAI/1.3.1/vai_q_onnx-1.19.0-py2.py3-none-win_amd64.whl#sha256=98cbdc33f612434f0dd55cc1d38eaf8df606efa7da4846c2654d1445d584d1ae
vaitrace @ file:///C:/Program%20Files/RyzenAI/1.3.1/vaitrace-1.3.1-py3-none-any.whl#sha256=7e9b154c605d37b0bb908c40ee877d90586ad74c69491f2966dff715839f9d92
voe @ file:///C:/Program%20Files/RyzenAI/1.3.1/voe-1.3.1-cp310-cp310-win_amd64.whl#sha256=1712b5a0c96e92f673c5c1a6c29b46efa9fc01fdf01314319eea8bf22ec97766
waitress==3.0.2
watchfiles==1.0.4
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733359735138/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets==15.0
Werkzeug==3.1.3
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
WMI==1.5.1
xxhash==3.5.0
yarl==1.18.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
