onnxruntime-genai-directml @ file:///C:/Users/aup/.conda/envs/HackCUFTW/lib/install/ryzen_ai/hybrid/hybrid-llm-artifacts_1.3.0_lounge/hybrid-llm-artifacts/onnxruntime_genai/wheel/onnxruntime_genai_directml-0.4.0.dev0-cp310-cp310-win_amd64.whl#sha256=e3d79b07fd7192f6e67efc5776d0ef5b167636ee5070702c957fabc1caf7024b
onnxruntime-vitisai @ file:///C:/Users/aup/.conda/envs/HackCUFTW/lib/install/ryzen_ai/hybrid/hybrid-llm-artifacts_1.3.0_lounge/hybrid-llm-artifacts/onnxruntime_genai/wheel/onnxruntime_vitisai-1.19.0.dev20241217-cp310-cp310-win_amd64.whl#sha256=12513a3c1ac306cc8d0180b32c074bc68ba711ced2e2bd8880cfcea6fe85c4ac
